
body {
  background-color: #E9FDFF;
  font-family: 'Asap', sans-serif;
  font-size: 30px; /* sets the font size to 40px */
  font-size: weight: 400; /* sets the font weight to 400 regular */
  line-height: 1.6; /* sets the line height to 1.6 *the font size */
  color: #2F8189;
}

h1, h2, h3, h4 {
  line-height: 1.4
}

h1 {
  font-size: 80px;
  font-weight: 700;
}

h2 {
  font-size: 80px;
  font-weight: 700;
}

h3 {
  font-size: 60px;
  font-weight: 700;
}

img {
  width: 100%
}

a {
  color: #ff7f50;
  text-decoration: none; /* no underlining*/
}

a:visited { /* visited link*/
color: #ff7f50
}

a:hover {
  color: #cc6540;
  text-decoration: underline; /* underlining when hovering over a link */
}

a:active { /* selected link*/
color: #994c30;
}



.button, .button:visited {
  display: inline-block;
  background-color: #91F3FC;
  color: #2F8189;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #91F3FC;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}


.button.contact {
  background-color: #91F3FC;
  color: #2F8189;
  border: 2px solid #91F3FC;
}

.button.contact:hover {
  opacity: 0.8;
  text-decoration: none;
}




/*
Colors used:
Primary color (Light Blue): #E9FDFF
Secondary Color (Darkr Blue): #91F3FC
Tirtiary/Text Color: (Emerald Green) #2F8189
*/

/*
Fonts used:
400: regular
500: medium
700: bold
*/
