body {
  background-color: #E9FDFF;
  font-family: 'Asap', sans-serif;
  font-size: 16px; /* sets the font size to 40px */
  font-weight: 400; /* sets the font weight to 400 regular */
  line-height: 1.6; /* sets the line height to 1.6 *the font size */
  color: #2F8189;
}




.white-background{
  background-color: #FFFFFF;

}


h1, h2, h3, h4 {
  line-height: 1.4
}

h1 {
  font-size: 35px;
  font-weight: 700;
  border-bottom: 0px solid #91F3FC; /* change px value to see underline*/
  display: inline-block;

}

h2 {
  font-size: 35px;
  font-weight: 700;
  display: inline-block;
}

h3 {
  font-size: 25px;
  font-weight: 700;
}

h4 {
  font-size: 20px;
  font-weight: 700;
}

img {
  width: 100%
}

a {
  color: #ff7f50;
  text-decoration: none; /* no underlining*/
}

a:visited { /* visited link*/
color: #ff7f50
}

a:hover {
  color: #cc6540;
  text-decoration: underline; /* underlining when hovering over a link */
}

a:active { /* selected link*/
color: #994c30;
}



.logotextbig {
  font-size: 20px;
  font-weight: 700;
}

.logotextsmall
{
  font-size: 15px;
  font-weight: 500;
}



.button, .button:visited {
  display: inline-block;
  background-color: #91F3FC;
  color: #2F8189;
  font-weight: 500;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid #91F3FC;
  transition: 0.2s opacity;
}

.button:hover {
  opacity: 0.8;
  text-decoration: none;
}


.button.contact {
  background-color: #91F3FC;
  color: #2F8189;
  border: 2px solid #91F3FC;
  width: 100px;
}

.button.contact:hover {
  opacity: 0.8;
  text-decoration: none;
}





/* Layout styling */



* {
  box-sizing: border-box;
}

.container {
  padding: 0 15px;
  max-width: 1200px;
  margin: 0 auto;
}

.container2 {
  max-width: 1200px;
  margin: 0 auto;
}


.row {
  margin: 25px 0;
}

.center {
  text-align: center; /* to center, use class="center" */
}

.logo {
  max-width: 250px;
}


main {
  padding-top: 133px;
}


header {
  background-color: #FFFFFF;
  text-align: center;
  padding: 10px 0;
  -webkit-box-shadow: 0px 4px 5px 0px rgba(50, 50, 50, 0.4);
  -moz-box-shadow:    0px 4px 5px 0px rgba(50, 50, 50, 0.4);
  box-shadow:         0px 4px 5px 0px rgba(50, 50, 50, 0.4);
  position: fixed;
  width: 100%;
}

nav > ul {
  list-style-type: none;
  padding: 0;
}

nav > ul > li {
  display: inline-block;
}

nav > ul > li > a {
  padding: 0 15px;
  text-transform: uppercase;
  font-weight: 700;
  color: #4a4a4a;
}

#hero {
  background-color: #E9FDFF;
  padding: 20px 0;
  display: inline-block;
  width: 100%;
}

.rectangle {
  height: 8px;
  width: inline-block;
  background-color: #91F3FC;
  border-radius: 4px;
}



/* ==============================
Medium devices (640px and larger)
================================= */
@media only screen and (min-width: 640px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }


  main {
    padding-top: 150px; /*adjust heading after fixing header*/
  }

  body {
    font-size: 14px;

    }

    .col-md-6 {
      width: 50%;
    }

    [class*="col-"] {
      float: left;
      padding: 0 10px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }

    .container {
      padding: 20px;
      max-width: 1200px;
      margin: 0 auto;
    }

    .container {
      max-width: 1200px;
      margin-left: auto;
      margin-right: auto;
    }


}



/* ==============================
Large devices (1024px or larger)
================================= */
@media only screen and (min-width: 1024px) {

  header {
    text-align: unset;
    padding: 20px 0 13px;
  }

  nav {
    width: auto;
    float: right;
    margin-top: 4px;
  }


  main {
    padding-top: 150px; /*adjust heading after fixing header*/
  }

  body {
    font-size: 14px;

    }

    .col-md-7 {
      width: 60%;
    }

    .col-md-5 {
      width: 40%;
    }


    [class*="col-"] {
      float: left;
      padding: 0 20px;
    }

    .row::after {
      content: "";
      clear: both;
      display: table;
    }






}


/* ==============================
X-large devices (1440px or larger)
================================= */
@media only screen and (min-width: 1440px) {
}






/*
Colors used:
Primary color (Light Blue): #E9FDFF
Secondary Color (Darkr Blue): #91F3FC
Tirtiary/Text Color: (Emerald Green) #2F8189
*/

/*
Fonts used:
400: regular
500: medium
700: bold
*/
